{% extends "hydro_data/hydro_data_base.html" %}
{% load static %}
{% block hd_content %}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'hydro_data:site_list' %}">Sites</a></li>
    <li class="breadcrumb-item"><a href="{% url 'hydro_data:box_list' slug=harvestdata.site.slug %}">{{ harvestdata.site.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'hydro_data:rack_tank_per_box' slug=harvestdata.box.slug %}">Box {{ harvestdata.box.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'hydro_data:loc_per_rack' boxslug=harvestdata.box.slug rackslug=harvestdata.rack.slug %}">Rack {{ harvestdata.rack.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'hydro_data:single_location' boxslug=harvestdata.box.slug rackslug=harvestdata.rack.slug slug=harvestdata.square_meter_id.slug %}">SQM ID {{ harvestdata.square_meter_id.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Harvest Data #{{ harvestdata.pk }}</li>
  </ol>
  </nav>
  <h1>Harvest Data #{{ harvestdata.pk }}</h1>
  {% if user.is_superuser %}
  <a class='btn btn-default' href="{% url 'hydro_data:harvestdata_edit' boxslug=harvestdata.box.slug rackslug=harvestdata.rack.slug slug=harvestdata.square_meter_id.slug pk=harvestdata.pk %}">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
  </a>
  <a class='btn btn-default' href="{% url 'hydro_data:harvestdata_remove' boxslug=harvestdata.box.slug rackslug=harvestdata.rack.slug slug=harvestdata.square_meter_id.slug pk=harvestdata.pk %}">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.854 4.854a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
    </svg>
  </a>
  {% endif %}
  <hr>
  <p><strong>Date:</strong> {{ harvestdata.date }}</p>
  <p><strong>Time:</strong> {{ harvestdata.time }}</p>
  <p><strong>Site:</strong> {{ harvestdata.site }}</p>
  <p><strong>Box:</strong> {{ harvestdata.box.name }}</p>
  <p><strong>Rack:</strong> {{ harvestdata.rack.name }}</p>
  <p><strong>SQM ID:</strong> {{ harvestdata.square_meter_id.name }}</p>
  <p><strong>Harvest Weight(kg):</strong> {{ harvestdata.harvest_weight_kg }}</p>
  <p><strong>Seedling:</strong> {{ harvestdata.seedlingdata }}</p>
  <p><strong>Staff:</strong> {{ harvestdata.staff }}</p>
{% endblock %}
