{% extends "hydro_data/hydro_data_base.html" %}
{% block hd_content %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'hydro_data:site_list' %}">Sites</a></li>
  <li class="breadcrumb-item"><a href="{% url 'hydro_data:box_list' slug=plantingdata.site.slug %}">{{ plantingdata.site.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'hydro_data:rack_tank_per_box' slug=plantingdata.box.slug %}">Box {{ plantingdata.box.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'hydro_data:loc_per_rack' boxslug=plantingdata.box.slug rackslug=plantingdata.rack.slug %}">Rack {{ plantingdata.rack.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'hydro_data:single_location' boxslug=plantingdata.box.slug rackslug=plantingdata.rack.slug slug=plantingdata.square_meter_id.slug %}">SQM ID {{ plantingdata.square_meter_id.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Planting Data #{{ plantingdata.pk }}</li>
</ol>
</nav>
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ object }}?</p>
    <input type="submit" class='btn btn-danger' name="" value="Confirm">
  </form>

{% endblock %}
