{% extends "hydro_data/hydro_data_base.html" %}

{% block hd_content %}
<div class="container">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'hydro_data:site_list' %}">Sites</a></li>
    <li class="breadcrumb-item"><a href="{% url 'hydro_data:box_list' slug=rack.box.site.slug %}">{{ rack.box.site.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'hydro_data:rack_tank_per_box' slug=rack.box.slug %}">Box {{ rack.box.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Rack {{ rack.name }}</li>
  </ol>
  </nav>
  <h4>Rack</h4>
  <form method="POST">
  	{% csrf_token %}
    <div class="table-responsive">
      <div class="col-5">
        <table class='table'>
          {{ form.as_table }}
        </table>
      </div>
    </div>
  		<button type="submit" class="btn btn-primary btn-large">Update</button>
  </form>
</div>
{% endblock %}
